OAS/ProxyBiddingCumSnipingAgent/src/conf/xml-resources/web-service-references/SnipingAgentWebService/wsdl/localhost_8080/SnipingAgentWebService/SnipingAgentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="SnipingAgentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/SnipingAgentWebService/SnipingAgentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewSnipingBid">
<part name="parameters" element="tns:createNewSnipingBid"/>
</message>
<message name="createNewSnipingBidResponse">
<part name="parameters" element="tns:createNewSnipingBidResponse"/>
</message>
<message name="remoteLogin">
<part name="parameters" element="tns:remoteLogin"/>
</message>
<message name="remoteLoginResponse">
<part name="parameters" element="tns:remoteLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="CustomerNotPremiumException">
<part name="fault" element="tns:CustomerNotPremiumException"/>
</message>
<message name="viewCreditBalance">
<part name="parameters" element="tns:viewCreditBalance"/>
</message>
<message name="viewCreditBalanceResponse">
<part name="parameters" element="tns:viewCreditBalanceResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="premiumRegistration">
<part name="parameters" element="tns:premiumRegistration"/>
</message>
<message name="premiumRegistrationResponse">
<part name="parameters" element="tns:premiumRegistrationResponse"/>
</message>
<message name="retrieveWonListing">
<part name="parameters" element="tns:retrieveWonListing"/>
</message>
<message name="retrieveWonListingResponse">
<part name="parameters" element="tns:retrieveWonListingResponse"/>
</message>
<message name="AuctionListingNotFoundException">
<part name="fault" element="tns:AuctionListingNotFoundException"/>
</message>
<message name="viewAuctionListings">
<part name="parameters" element="tns:viewAuctionListings"/>
</message>
<message name="viewAuctionListingsResponse">
<part name="parameters" element="tns:viewAuctionListingsResponse"/>
</message>
<message name="retrieveAuctionListing">
<part name="parameters" element="tns:retrieveAuctionListing"/>
</message>
<message name="retrieveAuctionListingResponse">
<part name="parameters" element="tns:retrieveAuctionListingResponse"/>
</message>
<portType name="SnipingAgentWebService">
<operation name="createNewSnipingBid">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/createNewSnipingBidRequest" message="tns:createNewSnipingBid"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/createNewSnipingBidResponse" message="tns:createNewSnipingBidResponse"/>
</operation>
<operation name="remoteLogin">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/remoteLoginRequest" message="tns:remoteLogin"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/remoteLoginResponse" message="tns:remoteLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/remoteLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:CustomerNotPremiumException" name="CustomerNotPremiumException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/remoteLogin/Fault/CustomerNotPremiumException"/>
</operation>
<operation name="viewCreditBalance">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/viewCreditBalanceRequest" message="tns:viewCreditBalance"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/viewCreditBalanceResponse" message="tns:viewCreditBalanceResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/viewCreditBalance/Fault/CustomerNotFoundException"/>
</operation>
<operation name="premiumRegistration">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/premiumRegistrationRequest" message="tns:premiumRegistration"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/premiumRegistrationResponse" message="tns:premiumRegistrationResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/premiumRegistration/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveWonListing">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveWonListingRequest" message="tns:retrieveWonListing"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveWonListingResponse" message="tns:retrieveWonListingResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveWonListing/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="viewAuctionListings">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/viewAuctionListingsRequest" message="tns:viewAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/viewAuctionListingsResponse" message="tns:viewAuctionListingsResponse"/>
</operation>
<operation name="retrieveAuctionListing">
<input wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveAuctionListingRequest" message="tns:retrieveAuctionListing"/>
<output wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveAuctionListingResponse" message="tns:retrieveAuctionListingResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/SnipingAgentWebService/retrieveAuctionListing/Fault/AuctionListingNotFoundException"/>
</operation>
</portType>
<binding name="SnipingAgentWebServicePortBinding" type="tns:SnipingAgentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewSnipingBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="CustomerNotPremiumException">
<soap:fault name="CustomerNotPremiumException" use="literal"/>
</fault>
</operation>
<operation name="viewCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="premiumRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveWonListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAuctionListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SnipingAgentWebService">
<port name="SnipingAgentWebServicePort" binding="tns:SnipingAgentWebServicePortBinding">
<soap:address location="http://localhost:8080/SnipingAgentWebService/SnipingAgentWebService"/>
</port>
</service>
</definitions>